name: CI CD Pipeline

on:

  push:

    branches: [ "main" ]

  pull_request:

    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

      - name: Build Project

        run: echo "Hello, GitHub Actions!"

      - name: Set an environment variable

        run: echo "MY_VAR=example_value" >> $GITHUB_ENV

      - name: Use the environment variable

        run: echo "The value of MY_VAR is $MY_VAR"
        
  test-job:

    runs-on: ubuntu-latest

    steps:

      - name: Test Project

        run: echo "Hello, GitHub Actions!"

      - name: Set an environment variable

        run: echo "MY_VAR=example_value" >> $GITHUB_ENV

      - name: Use the environment variable

        run: echo "The value of MY_VAR is $MY_VAR"


 


